@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	border:0;
	box-sizing:border-box;
	}
	
body, html{
	height:100%;
	}
body {
	color: #333; 
	font-family:'Open Sans', sans-serif;
}
p.choice-info{
	margin: 0;
	padding: 5px;
	
	}
ul.nodec{
	list-style-type: none;
	}
.dasti {
    background-color: #2196F3;
    color: #fff;
    padding: 5px;
	border-radius: 4px;
}
.leftpanel.pull-left {
	margin: 5px;
	padding: 2px;
	box-shadow: 2px 2px 3px #9E9E9E;
	border: 1px solid #616161;
}

.scont {
    margin: 0 5px;
}
a.nodec{
	color:inherit;
	}
.schools-ranks ul li {
    padding: 5px 0 0 10px;
    border-bottom: 1px solid #eee;
}
.schools-ranks {
    margin: 5px;
    padding: 2px;
    box-shadow:  -3px -1px 6px 2px #2196F3;
}