/*Clubs styling*/
.clubs-cont{
	background: url("../images/proposed/best bg.jpg") #05aefc no-repeat;
	background-size: cover;
	padding: 3%;
	margin-top: 12px;
	border-radius: 5px 5px 0;
	background-position: center center;
}
.club-card{
	
	margin: 5px 1%;
	border-radius: 2px;
	box-shadow: 2px 1px 4px 0px rgb(32, 68, 10), 1px 2px 1px #9c8e6f;
}
.club-intro{
}
.club-intro .club-pic{
	background-image: url(../images/regfin.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 130px;
	opacity: .7;
}
.club-intro .text{
	background: rgb(255, 255, 255);
	color: #655c47;
	font-family: roboto;
	line-height: 2;
	opacity: 1;
	padding: 10px;
	margin: 0 -2px -2px;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.41), -1px -1px 2px rgb(218, 215, 215);
	font-size: 80%;
}

@media screen and (min-width: 660px){
	.club-card{
		width: 30%;
		float: left;
		margin: 5px 1%;
		border-radius: 2px;
		box-shadow: 2px 1px 4px 0px rgb(32, 68, 10), 1px 2px 1px #9c8e6f;
	}
}